// Тема
.page__theme {
  width: 25px;
  height: 25px;
  flex: 0 0 30px;
  cursor: pointer;

  @media (max-width: $mobile) {
    width: 20px;
    height: 20px;
  }
}

.page__action {
  position: absolute;
  top: 165px;
  right: 27px;
  z-index: 2;

  @media (max-width: $mobile) {
    top: 110px;
    right: 2px;
  }

  @media (max-width: $mobileSmall) {
    top: 95px;
  }
}

.page__reset {
  opacity: 0;
  visibility: hidden;
}

.page__reset.active {
  opacity: 1;
  visibility: visible;
}

html.dark body {
  color: #fff;
  background-color: #263238;
}

html.light body {
  background-color: #fff;
  color: #263238;
}

html.light ._header-scroll {
  background-color: rgb(231 255 231 / 95%);
}

html.light .button_border {
  border: 1px solid #263238;

  &:hover {
    border: 1px solid #23b123;
  }
}

html.light .title {
  color: rgba(38, 50, 56, 1);
  z-index: 1;
}

html.light .form {
  background: rgba(38, 50, 56, 0.1);
}

html.light input {
  background: rgba(38, 50, 56, 0);
}

html.light .image-block {
  background: rgba(0, 128, 0, 0.05);
}

html.light .image-block__circle::before {
  border: 1px solid #23b123;
}

html.light .button {
  color: #fff;
}

html.light .button_border {
  color: #263238;

  &:hover {
    color: #23b123;
  }
}

html.light .footer,
html.light .download__body,
html.light .item-reviews__body,
html.light .spollers-pathway__item {
  background: rgba(0, 128, 0, 0.05);
}

html.light .icons-main-block__circle::before {
  border: 1px solid #23b123;
}

html.light .steps-why__item::before {
  background: rgba(0, 128, 0, 0.05);
  color: #23b123;
}

html.light .download__circle::before {
  border: 1px solid #23b123;
}

html.light .social__item {
  background-color: #c6ffc6;

  &:hover {
    background-color: transparent;
  }
}

html.light .footer__main {
  border-bottom: 1px solid rgba(38, 50, 56, 0.31);
}

html.light .icon-menu::before,
html.light .icon-menu::after,
html.light .icon-menu span {
  background-color: #263238;
}

html.light .menu__body::before {
  background-color: rgb(231 255 231);
}

html.light .menu__body {
  @media (max-width: $mobile) {
    background: rgb(195 255 195);
  }
}

//   html.light
.page__theme {
  background: url("../img/theme-icon/sun.svg") 0 0 / 100% no-repeat;
}

html.light .page__theme {
  background: url("../img/theme-icon/evening.svg") 0 0 / 100% no-repeat;
}